body {
  margin: 0;
}

.wrapper {
  display: flex;
  height: 100%;
  font-family: 'Titilliam', sans-serif;
  font-size: 13px;
}

.left-pane {
  width: 260px;
  background-color: #0E285C;
  font-weight: 700;
  color: #CACACA;
}

.right-pane {
  width: 100%;
  background-image: url(images/ISS-43.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 15% 85%;
}

.admin {
  text-align: center;
}

.sidebar {
  padding: 10px 20px;
  border: solid 3px #06225B;
}

.sidebar-options:hover {
  color: #0BB0FE;
}

.sidebar-options .selected {
  color: #0BB0FE;
}

.admin-earthling {
  width: 100px;
  border-radius: 100%;
  margin: 0;
}

.admin-name {
  display: inline-block;
}

.dropdown {
  width: 8px;
  margin-left: 5px;
}

.menu-titles {
  color: #3F5E91;
}

.menu-icons {
  width: 12px;
  padding-right: 8px;
}

.icon-box {
  display: block;
  float: left;
  margin: 0;
  padding: 20px;
  border: solid 1px #CACACA;
}

.icon-box:hover {
  background-color: #06225B;
}

.icon-box.selected {
  background-color: #06225B;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.search-box {
  width: 100%;
  margin: 0;
  padding: 21px 0;
  background: transparent;
  border: solid 2px #CACACA;
}

.search-input {
  width: 60%;
  font-size: 14px;
  background-color: transparent;
  color: #CACACA;
  padding-left: 20px;
  border-style: none;
}

.nav-icons {
  width: 20px;
  height: 20px;
  border-style: none;
}

.search-input::placeholder {
  background-image: url(images/search.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  text-indent: 26px;
}

header {
  padding: 4px 0;
  background-color: hsla(0, 10%, 3%, .3);
  color: #CACACA;
}

h1 {
  margin: 53px 0 5px 35px;
  font-size: 30px;
}

.header-icon {
  width: 17px;
  margin-left: 35px;
}

.header-text {
  display: inline;
  font-size: 13px;
}

.bullet {
  display: inline;
  padding: 0 10px;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: #0BB0FE;
}

.edit-row {
  position: absolute;
  top: 150px;
  right: 20px;
}

.open-button {
  border: solid 2px #CACACA;
  background-color: transparent;
  color: #CACACA;
}

.oval-btn {
  padding: 8px 17px 8px 17px;
  border-radius: 22px;  
}

.open-icon {
  position: relative;
  top: 2px;
  bottom: 5px;
  padding-right: 5px;
  width: 10px;
}

.edit-buttons {
  padding-bottom: 7px;
  height: 33px;
  margin: 0;
  background: transparent;
  border-radius: 100px;
  border: solid 2px #CACACA;
}

.open-button:hover,
.edit-buttons:hover {
  border: solid 2px #0BB0FE;
}

.edit-icons {
  position: relative;
  top: 5px;
  bottom: 5px;
  width: 15px;
}

.overchart-nav {
  display: flex;
  justify-content: flex-start;
}
  
ul {
  margin-top: 65px;
  padding-left: 40px;
}

li {
  display: inline;
  margin-right: 60px;
  font-weight: 700; 
}

li:hover {
  color: #0BB0FE;
}

li.selected {
  color: #0BB0FE;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 25px;
  width: 100%;
} 

.donut-charts {
  display: flex;
  flex-direction: column;
  width: 55%;
  align-items: center;
}

.donut-container {
  display: inline-block;
  padding-top: 25px;
}

.chart-text {
  font: 6px 'Titilliam', sans-serif;
  fill: #000;
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);
}

.chart-number {
  font-size: 6px;
  line-height: 1;
  text-anchor: middle;
  -moz-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.chart-label {
  font-size: 2.5px;
  font-weight: 700;
  text-transform: uppercase;
  text-anchor: middle;
  -moz-transform: translateY(0.7em);
  -ms-transform: translateY(0.7em);
  -webkit-transform: translateY(0.7em);
  transform: translateY(0.7em);
}

.underchart {
  font-weight: 700;
  color: #000000;
}

.donut-btn {
  margin-top: 52px;
  background-color: #CACACA;
}

.bargraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.extreme-weather {
  width: 400px;
}

.graph-btn {
  background-color: #CACACA;
}

.expanded-menu {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  padding: 25px;
  color: #CACACA;
}

.edit-campaign-wrapper {
  display: inline-block;
  width: 65%;
  background-color: hsla(0, 10%, 3%, .6);
  font-size: 15px;
  color: white;
}

.edit-campaign {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #0E285C;
}

th,
td {
  text-align: left;
  padding: 23px;
}

.underlined {
  border-bottom: solid 2px #FFFFFF;
}

.table-title {
  width: 200px;
  font-weight: 700;
}

.edit-button {
  padding: 8px 20px;
  border: solid 2px #FFFFFF;
  background: transparent;
  font-size: 12px;
  font-weight: 700;
  color: #FFFFFF;
}

.edit-icon {
  position: relative;
  top: 3px;
  bottom: 5px;
  padding-right: 8px;
  width: 15px;
}

.campaign-lead-img {
  position: relative;
  width: 28px;
  top: 5px;
  bottom: 5px;
  border-radius: 50%;
}

.name {
  margin-top: 10px;
  display: inline;
}

.contact-panel {
  display: inline-block;
  margin-left: 25px;
  padding-bottom: 25px;
  width: 32%;
}

.social-media {
  display: inline-block;
  width: 100%;
  text-align: justify;
  color: #06225B;
}

.media-btn {
  display: block;
  margin: 0 5px 15px 0;
  width: 100%;
  padding: 20px 40px;
  font-weight: 700;
  font-size: 15px;
  border-style: none;
  color: #FFFFFF;
  text-align: left;
}

.facebook {
  background-color: #3D569A;
}

.media-logo {
  position: relative;
  top: 5px;
  bottom: 5px;
  margin-right: 13%;
}

.facebook-logo {
  width: 15px;
}

.twitter {
  background-color: #45A0EB;
}

.twitter-logo {
  width: 19px;
}

.linkedin {
  background-color: #2F7AB1;
}

.linkedin-logo {
  width: 22px;
}

.link-section {
  width: 100%;
  background-color: hsla(0, 10%, 3%, .6);
  font-size: 14px;
  color: #FFFFFF;
}

.link-1,
.link-2 {
  border-bottom: solid 1px #CACACA;
}

.link-blocks {
  padding: 10px 20px 20px 20px;
}

.link-3 {
  padding-bottom: 20px;
}

.link-icons {
  position: relative;
  width: 15px;
  margin-right: 10px;
  border-style: none;
}

.bold-text {
  font-weight: 700;
  color: #FFFFFF;
}

.copy-links {
  display: inline-block;
  width: 100%;
  margin: 0;
}

.link-inputs {
  float: left;
  width: 70%;
  padding: 10px;
  border-style: solid 1px #FFFFFF;
  font-size: 13px;
  font-weight: 700;
}

.copy-btn {
  width: 20%;
  padding: 11px 6px;
  font-size: 13px;
  font-weight: 700;
  background-color: #0E285C;
  border-style: solid 1px #FFFFFF;
  color: #FFFFFF;
}

.email {
  width: 93%;
  padding: 10px;
  font-size: 13px;
  font-weight: 700;
}


@media screen and (max-width: 1254px) {
  .donut-charts {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .donut-container {
    display: flex;
    flex-direction: column;
  }

  .media-btn {
    padding: 15px 28px;
  }
}

@media screen and (max-width: 1135px) {
  .link-inputs {
    width: 69%;
  }

  .email {
    width: 89%;
  }
}

@media screen and (max-width: 1085px) {
  .edit-campaign-wrapper {
    width: 100%;
  }

  .contact-panel {
    width: 100%;
    margin: 15px 0;
  }
}

@media screen and (max-width: 999px) {
  .edit-row {
    position: absolute;
    top: 199px;
    left: 243px;
  }

  .stats {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .bargraph {
    margin-top: 25px;
  }
}

@media screen and (max-width: 829px) {
  .edit-row {
    left: 234px;
  }
}

@media screen and (max-width: 730px) {
  .edit-row {
    top: 232px;
    left: 227px;
  }
}

@media screen and (max-width: 632px) {
  .edit-row {
    left: 219px;
  }

  .table-title {
    width: 99px;
  }

  li {
    display: block;
  }
}

@media screen and (max-width: 616px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .left-pane {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
  }

  .sidebar {
    height: 150px;
  }

  .top-navbar {
    position: absolute;
    width: 100%;
    top: 0;
  }

  .sidebar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;
    border: solid 3px #06225B;
    height: 150px;
  }

  .sidebar-options {
    padding-right: 7px;
  }

  .admin-name {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 73px;
    left: 43px;
    padding: 16px 28px;
  }

  .admin-earthling {
    position: absolute;
    width: 51px;
    top: 81px;
    left: 8px;
    padding: 5px;
  }

 .dropdown {
    position: absolute;
    left: 172px;
    top: 105px;
  }

  .open-button,
  .edit-buttons {
    margin: 5px;
  }

  .menu-icons {
    padding-right: 6px;
  }

  .menu-titles {
    position: absolute;
    margin-right: 15px;
    visibility: hidden
  }

 .edit-row {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 90px;
    right: 15px;
  }

  a {
    display: inline-block;
    padding-left: 38px;
  }
}

  @media screen and (max-width: 455px) {
    .sidebar {
      height: 200px;
    }

    .open-button,
    .edit-buttons {
      margin: 1px;
    }

    .admin-earthling {
      top: 76px;
    }

    .edit-row {
      justify-content: flex-start;
      top: 144px;
      left: 11px;
    }

    .extreme-weather {
      width: 302px;
    }
  }

@media screen and (max-width: 333px) {
  .edit-button {
    padding: 8px;
  }

@media screen and (max-width: 320px) {
  .search-box {
    width: 100%;
    position: absolute;
    top: 55px;
    left: 0;
    padding: 0;
  }

  .search-input {
    width: 100%;
  }

  .icon-box {
    padding: 15px 29px;
  }

  th,
  td {
    padding: 19px;
  }
}


